<a href="https://colab.research.google.com/github/Aishatoo07/AissatouDieng_DTSC3020_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
Fruits=['banana','orange', 'grape']
print(Fruits)
print(Fruits[0])
print(Fruits[1])
print(Fruits[2])

['banana', 'orange', 'grape']
banana
orange
grape

In [5]:
Names=['Amy','Abi','Mami','Jibril']
Names[0]='Awa'
print(Names)

['Awa', 'Abi', 'Mami', 'Jibril']

In [6]:
Vehicles=['bike','car','plane','boat','train']
Vehicles.append('scooter')
print(Vehicles)

['bike', 'car', 'plane', 'boat', 'train', 'scooter']

In [8]:
Food=['apple','burger','lollipop','orange','icecream','pasta','olive']
Food.remove('icecream')
print(Food)

['apple', 'burger', 'lollipop', 'orange', 'pasta', 'olive']

In [12]:
Cities=['Dakar','New york','Dallas','Paris']
Cities.sort()
print(Cities)

['Dakar', 'Dallas', 'New york', 'Paris']

In [13]:
Cities=['Dakar','New york','Dallas','Paris']
Cities.sort(reverse=True)
print(Cities)

['Paris', 'New york', 'Dallas', 'Dakar']

In [16]:
Animals=['lion','zebra','frog']
for Animal in Animals:
  print(Animal)

lion
zebra
frog

In [19]:
Numbers=[1,2,3,4,5]
for Number in Numbers:
  print(Number*2)

2
4
6
8
10

In [50]:
Friends=['Arame','Abi','Layla','Fabi','Awa','Nunu']
print("frist 3 friends ")
for Friend in Friends[:3]:
  print(Friend.title())

print("Last 3 friends ")
for Friend in Friends[-3:]:
  print(Friend.title())

frist 3 friends
Arame
Abi
Layla
Last 3 friends
Fabi
Awa
Nunu

In [60]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
squares=[]
for value in range(1,11):
  square=value**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]