<a href="https://colab.research.google.com/github/Aishatoo07/AissatouDieng_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [1]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

lowest_student = None
lowest_grade = float('inf')  # start with infinity so any grade will be smaller

for student, grade in grades.items():
    if grade < lowest_grade:
        lowest_grade = grade
        lowest_student = student

print("Student with the lowest grade:", lowest_student, "with grade", lowest_grade)

Student with the lowest grade: Omid with grade 16

Exercise 2: print names of students who registered for any course containing "Data"

In [2]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:
for student, subjects in courses.items():
    for subject in subjects:
        if "Data" in subject:
            print(student)
            break

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [3]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:

for title, info in library.items():
    if not info['available']:
        print(title)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [4]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
for student, courses in registrations.items():
    if len(courses) > 2:
        print(student)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [5]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

total = sum(grades.values())
count = len(grades)
average = total / count

print("Average grade of the class:", average)

Average grade of the class: 18.1

Exercise 6: Count and print the number of students registered for "Python".

In [6]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
count = 0
for student, subjects in courses.items():
    if "Python" in subjects:
        count += 1

print("Number of students registered for Python:", count)

Number of students registered for Python: 3

Exercise 7: Print titles of books with more than 200 pages.

In [7]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
for title, pages in book_pages.items():
    if pages > 200:
        print(title)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [8]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for student, subjects in courses.items():
    print(student, "has", len(subjects), "registered courses")

Ali has 2 registered courses
Sara has 2 registered courses
Reza has 2 registered courses
Lina has 2 registered courses
Omid has 1 registered courses